<footer class = "footer bg-dark py-2 mt-auto">
    <div class = "container">
        <h6 class = "text-center" style ="color: white;">Built with ❤️ by Sudeep Kulkarni</h6>
        <h6 class = "text-center" style ="color: white; font-size: 15px; "> © RentKaro 2022 </h6>
    </div>
</footer>